#You must explicitely allow users to trigger the jobs on your jenkins
#Otherwise anybody can run arbitrary code on your jenkins servers.
allowed_users: [snappy-dev]

#path to your credentials file. The first time you run one of these scripts,
#launchpad will ask you to authenticate (via a provided URL). Once you do so
#(in launchpad) you won't need to do this again.
#If your jenkins "lives" in /var/lib/jenkins you probably don't need to change
#this
credential_store_path: /var/jenkins_home/.launchpad.credentials

# When doing a dput into ppa (in autoland.py) a new changelog entry is
# generated. DEBEMAIL and DEBFULLNAME are used to generate the entry correctly.
# Please note that the gpg keys of the user specified here must be available
# on the host where autoland.py is running
#DEBEMAIL: snappydevtarmac@gmail.com
#DEBFULLNAME: Snappy CI bot

#user and password for accessing jenkins. This is needed as we need to find
#out if a job is being published to public jenkins or not. The user needs to be
#able to see the job configuration
jenkins_user: admin
jenkins_password: snappy

#URL of your jenkins.
jenkins_url: http://localhost:8080/

#Token to pass when triggering a jenkins build (leave blank for none)
jenkins_build_token: snappy

# console output from the following jobs will not be printed to the
# affected merge proposal (in the "Executed test runs:" section)
jobs_blacklisted_from_messages: [generic-update_mp]

#message that is used for "testing in progress" comment
launchpad_build_in_progress_message: 'Jenkins: testing in progress'

#login of the launchpad user you will be using for this plugin
#ideally this user is part of your project group
launchpad_login: snappydevtarmac

#Review type that is used for voting on merge proposals.
#Usually you don't need to change this
launchpad_review_type: continuous-integration

#lock file that is being used to limit the number of parallel launchpad
#connections
lock_name: launchpad-trigger-lock

#you don't need to change this
lp_app: launchpad-trigger

#which launchpad are you using (production/staging)
#you don't need to change this
lp_env: production

#URL of your public jenkins in case you are publishing your jobs to some
#other jenkins
#public_jenkins_url: http://jenkins.qa.ubuntu.com

#in case you are running jenkins in a private infrastructure you probably don't
#want to expose your private IPs in public merge proposals
#the following defines (IP, replacement) pairs. Your URLs in merge proposals
#are then replaced by the replacement (and you can e.g. edit your /etc/hosts
#so the links still work for you).
urls_to_hide:
    - ['http://10.0.0.1:8080', 'http://jenkins:8080']
    - ['http://10.0.0.2:8080', 'http://jenkins2:8080']

# verbosity of the commands
# one of: debug, info, warning, error, critical
log_level: debug
