<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.plugins.flow.BuildFlow plugin="build-flow-plugin@0.18">
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>2</daysToKeep>
    <numToKeep>20</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>vivid</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H/15 * * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers/>
  <icon/>
  <dsl>for (item in ["ubuntu-core.canonical", "canonical-pc.canonical", "canonical-pc-linux.canonical"]) {
  ignore(FAILURE) {
    b = build("check-snap-from-store", snap: item)
  }
  if (b.result.name == "SUCCESS") {
    ignore(FAILURE) {
      c = build("create-cloud-image-all-snaps", release: "rolling", channel: "edge", arch: "amd64")
    }
    if c.result.name == "FAILURE"{
      out.println("Error creating image, reseting version file")
      String filename = "/home/jenkins-slave/workspace/check-snap-from-store/${item}/amd64/edge/version"
      boolean fileSuccessfullyDeleted =  new File(filename).delete()

      if (fileSuccessfullyDeleted) {
        out.println("File ${filename} deleted after error building image")
      } else {
        out.println("Error deleting ${filename} after error building image")
      }
    }
    break;
  }
}
</dsl>
  <buildNeedsWorkspace>false</buildNeedsWorkspace>
</com.cloudbees.plugins.flow.BuildFlow>
